---
layout: index
title: Homepage
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <div>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="date">
              {{ post.date | date_to_string }}
            </time>-
            {{ post.title }}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  Talks
  <ul class="posts">
    {% for post in site.talks %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <div>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="date">
              {{ post.date | date_to_string }}
            </time>-
            {{ post.title }}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul></div>
